.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  .input-label-container {
    margin: 10px 0;
  }

  .input-label {
    font-size: 12px;
  }

  .input-text-field {
    padding: 0.25rem 0.5rem;
    margin-right: 1.5rem;
  }

  .input-error {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: red;
  }
}
